<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>player-ios-library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>player-osx-library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>player-sample-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>player-sample-osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>player-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>player.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>123984191A6EC37F00FC46D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>123984311A6EC37F00FC46D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>123984431A6EC39D00FC46D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>123984581A6EC39E00FC46D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>123E595B1A6D80DC00E071A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>123E59AA1A6DB2FD00E071A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>123E59C11A6DB3A500E071A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>123E59CB1A6DB3A500E071A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>125D82B41A702A340086412A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
